
.custom-pti-control-button {
  background-image:url(https://mibarram.github.io/mapas.github.io/Esc-p.png);
  background-repeat:no-repeat;
  background-color: transparent;
  background-position:center;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 48px;
  height: 48px;
  cursor: pointer;
}
