
.custom-pti-control-button {
  background-image:url(http://https://mibarram.github.io/mapas.github.io/Esc-p.svg);
  background-repeat:no-repeat;
  height:100px;
  width:100px;
  background-position:center;
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 12px Roboto, Arial, sans-serif;
  overflow: hidden;
  width: 48px;
  height: 48px;
  cursor: pointer;
}
