
.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 12px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}
.custom-map-control-button:hover {
  background: rgb(235, 235, 235);
}

.custom-esc-control-button {
  background-image:url(https://mibarram.github.io/mapas.github.io/Esc-pShadow.png);
  background-repeat:no-repeat;
  background-color: transparent;
  background-position:center;
  border: 0;
  border-radius: 2px;
  overflow: hidden;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.custom-ban-control-button {
  background-image:url(https://mibarram.github.io/mapas.github.io/BanShadow.png);
  background-repeat:no-repeat;
  background-color: transparent;
  background-position:center;
  border: 0;
  border-radius: 2px;
  overflow: hidden;
  width: 48px;
  height: 48px;
  cursor: pointer;
}
