
.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 12px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}
.custom-map-control-button:hover {
  background: rgb(235, 235, 235);
}

#markerBox{
    position: absolute;
    bottom: 2.5%;
    left: 40%;
    min-width: 400px;
    min-height: 20px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(216, 216, 221, 0.85);
    border-style: solid;
    border-width: 1px;
    border-color: #47475C;
    border-radius: 6px;
    color: #323241;
    z-index: 1;
  }

.custom-esc-control-button {
  background-image:url(https://mibarram.github.io/mapas.github.io/Esc-pShadow.png);
  background-repeat:no-repeat;
  background-color: transparent;
  background-position:center;
  border: 0;
  border-radius: 2px;
  overflow: hidden;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 10:
}

.custom-ban-control-button {
  position: absolute;
  bottom: 2.5%;
  background-image:url(https://mibarram.github.io/mapas.github.io/BanShadow.png);
  background-repeat:no-repeat;
  background-color: transparent;
  background-position:center;
  border: 0;
  border-radius: 2px;
  overflow: hidden;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 11;
}
